.extra {
  &__header {
    color: var(--special-dark-grey-2);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }

  &__main-header {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }

  &__value {
    color: var(--special-dark-grey);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }

  &__cost {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
  }

  &__button {
    font-family: var(--oswald-font);
    width: 280px;
    height: 40px;
    color: var(--basic-white);
    background-color: var(--basic-green);
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border: none;
  }
}
